* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    /*border: 1px solid blue;*/
    /*overflow: auto;*/
}

body {
	font-family: "Helvetica Neue", Helvetica , Arial , sans-serif;
	text-align: justify;
  color: white;
}

#container {
	position: absolute;
  display: block;
  z-index: 3;
  width: 100%;
  height: auto;
  left: 0;
  margin-top: 5em;
  margin-bottom: 5em;
  background: white;
}

header {
	position: relative;
	width: 100%;
	height: auto;
}

nav {
	position: relative;
	width: 75%;
	margin: 0 auto;
  display: hidden;
}

nav ul {
	display: flex;
  flex-direction: row;
	position: relative;
	width: 75%;
	margin: auto;
	padding: 0;
}

nav ul li {
	position: relative;
	display: inline-block;
	width: 15%;
	margin: 0 1em;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: grey;
}

#placeholder {
  width: 291px;
  height: auto;
  margin: 1em auto;
  overflow: auto;
}

#lightLogo {
  width: 291px;
  height: auto;
  /*
  float: left;
  margin-left: 17em;*/ 
}

h2 {
  font-family: cursive;
  font-size: 28px;
  float: right;
  padding: 5em 2em 0 0;
  color: whitesmoke;
  font-weight: inherit;
}

#main {
  background: url(../assets/samples/images.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 8em 5em 1em;
}

.panels section {
  position: relative;
  width: 100%;
  padding: 3em 1em;
  /*margin: 3em auto;*/
}

.panels section p {
	/*padding: 1em 5em;*/
  font-size: 33px;
  line-height: 55px;
  font-weight: 100;
}

.button {
  background-color: rgba(0,256,256,0.1);
  color: white;
  border: solid 1px white;
  float: right;
  margin: 16em -24em 0em 0em;
  padding: 1em 4em;
  font-size: 27px;
  font-weight: 100;
}

/*TODO: Change text colour and border colour when hovered and clicked.*/
.button :hover {
  color: #FFCC66;
}

#firstPanel {
  background: url(../assets/samples/swatch-102.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 39em;
}

#panelOneImg {
  width: 26em;
  height: auto;
  margin: 3em 0 3em 19em;
}

#firstPanel p {
  float: right;
  width: 20em;
  height: auto;
  margin: 2em 10em 0 0;
}

#secondPanel {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#thirdPanel {
  background: url(../assets/samples/swatch-102.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#fourthPanel {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#fifthPanel {
  background: url(../assets/samples/swatch-102.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#sixthPanel {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}
