* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    /*border: 1px solid blue;*/
    /*overflow: auto;*/
}

body {
	font-family: "Shift", "Calibri", sans-serif;
	text-align: justify;
  color: white;
}

#container {
	position: absolute;
  display: block;
  z-index: 3;
  width: 100%;
  height: auto;
  left: 0;
  margin-top: 5em;
  margin-bottom: 5em;
  background: white;
}

header {
	position: relative;
	width: 100%;
	height: auto;
}

nav {
	position: relative;
	width: 75%;
	margin: 0 auto;
  display: hidden;
}

nav ul {
	display: flex;
  flex-direction: row;
	position: relative;
	width: 75%;
	margin: auto;
	padding: 0;
}

nav ul li {
	position: relative;
	display: inline-block;
	width: 15%;
	margin: 0 1em;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: grey;
}

h2 {
  float: right;
  padding-right: 6em;
  margin-top: 7em;
  color: whitesmoke;
  font-weight: inherit;
}

#lightLogo {
  width: 141px;
  height: 102px;
  float: left;
  margin-left: 17em; 
}

#main {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#main, .panels section {
	position: relative;
	width: 100%;
  padding: 3em 5em;
	/*margin: 3em auto;*/
}

#firstPanel {
  background: url(../assets/samples/swatch-102.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#secondPanel {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#thirdPanel {
  background: url(../assets/samples/swatch-102.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#fourthPanel {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#fifthPanel {
  background: url(../assets/samples/swatch-102.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

#sixthPanel {
  background: url(../assets/samples/images.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

.panels section p {
	padding: 1em 5em;
}
