$stripes: 75;
$stripeWidth: 0.1%;
$lapDuration: 30s;
$leftSpace: ( 100% / $stripes );

html body {
	overflow: auto;
	background: #252625;
}

#suitGraphics {
	margin: 0;
	position: absolute;
	top: 0; bottom: 0; right: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	i {
		animation-name: background;
		animation-iteration-count: infinite;
		animation-duration: $lapDuration;
		animation-timing-function: ease;
	}
}

i {
	display: inline-block;
	position: absolute;
	width: $stripeWidth;
	height: 0;
	background: #454545;
}

@for $i from 1 to 75 {
	i:nth-child(#{$i}) {
		left: ($i) * ($leftSpace);
		animation-delay: (($i) * ($lapDuration / $stripes) * (0.2));
	}
}

@keyframes background {
	0% { height: 0; }
	25% { height: 100%; }
	50% { height: 100%; }
	75% { height: 100%; }
	100% { height: 100%; }
}